<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <header>
        <!--<div class="jumbotron text-center">-->
          <a class="nav-link" href="/">
            <div class="card bg-dark text-white text-center">
              <div class="card-header">
                <h1 class="card-title">
                        {{ site.title }}
                </h1>
                <h3 class="card-text">
                        {{ site.tagline }}
                </h3>
              </div>
              <!--
              <img class="card-img-bottom" src="{{ site.baseurl }}/images/IMG_0357.jpg">
              -->
            </div>
          </a>
        <!--</div>-->
    </header>

    <div class="row-fluid">
      {{ content }}
    </div>

  </body>
</html>
