<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <header>
        <!--<div class="jumbotron text-center">-->
            <div class="card-bg-dark text-white text-center">
                <img class="card-img" src="{{ site.baseurl }}/images/IMG_0357.jpg">
                <div class="card-img-overlay">
                <h1 class="card-title">
                    {{ site.title }}
                </h1>
                <h3 class="card-text">
                    {{ site.tagline }}
                </h3>
                </div>
            </div>
        <!--</div>-->
    </header>

    <main>
      {{ content }}
    </main>

  </body>
</html>